.idea/2025-ACM-Hackathon.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/caches/deviceStreaming.xml
tracker/.idea/AndroidProjectSystem.xml
tracker/.idea/deploymentTargetSelector.xml
tracker/.idea/deploymentTargetSelector.xml
